{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          I am Allan M. Balanga Jr., a recent graduate with a Bachelor of Science in Electronics Engineering from the Polytechnic University of the Philippines, where I maintained a spot on the Dean’s List from 2020 to 2023. During my studies, I developed a strong foundation in technical concepts and problem-solving skills.
        </p>
        <p>
          I worked as an AI Talkbot Support at WIZ Holdings, where I collaborated with a team of developers to design and implement a talkbot. In this role, I focused on constructing user responses and assisted with annotations and testings for automatic speech recognition and text-to-speech functionalities of the talkbot.
        </p>
        <p>
          I am also a person who is eager to explore and learn new things, especially when it comes to technology. For example, even as I focus on job hunting, I have enrolled in a programming course to expand my technical skills and relearn things from my earlier years as a student.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
